<html>
             <head>
             
<link REL="StyleSheet" TYPE="text/css" HREF="/static/css/e.css">

         
<h1><center>Real Time Social Media Data Analysis</center></h1>
</head>
<body >
<center>
<br>
<img src={{img}}id="myImage1" /></br>
<h2>{{wik}}</h2>

<hr style="width:100%;border-top: 5px dashed #006994">
<h2><b>New World</b></h2>
<hr style="width:100%;border-top: 5px dashed #006994">
<br><br>
<h1>{{news1}}   SOURCE:<a href={{url1}}>{{newsou1}}</a></h1>
<h2>{{new1des}}</h2>
<br>
<hr style="width:100%;border-top: 5px dashed #006994">
<h1>{{news2}}   SOURCE:<a href={{url2}}>{{newsou2}}</a></h1>
<h2>{{new2des}}</h2>
<br>
<hr style="width:100%;border-top: 5px dashed #006994">
<h1>{{news3}}   SOURCE:<a href={{url3}}>{{newsou3}}</a></h1>
<h2>{{new3des}}</h2>
<br>
<hr style="width:100%;border-top: 5px dashed #006994">
<h2>social media</h2>
<hr style="width:100%;border-top: 5px dashed #006994">
<img src=/static/images/new_plot0.png id="myImage" />
<br>
</center>
<center>
</br>
<h1 background-color: #006994;
  color: white;>
postive talks</h1>
</br>
{{postive}}

</p>
<h1 background-color: #006994;
  color: white;>
negative talks</h2>
{{ negative}}
</br>
</center>
</body>
</html>
