<html>
             <head>
             
<link REL="StyleSheet" TYPE="text/css" HREF="/static/css/e.css">
             <style>

</style>
         
<h1><center>Real Time Social Media Data Analysis</center></h1>

</head>
<body>
<form action = "http://localhost:5000/proceed" method = "POST">
<center>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1 ><input type="text" name="search">   <input type="submit" value="Search me" >
</form>
<form action = "http://localhost:5000/trends" method = "POST">
<br/><br/><input type="submit" value="Search trends">
</form>

</h1>

</center>
</body>
</html>
